<h1>This is create ejs file</h1>
<a href="/">Home</a>

<form action="/create" method="post">
  <input type="text" name="inn">
  <input type="text" name="dose">
  <button>Add</button>
</form>

